$prefix: dr;

.#{$prefix} {
  display: inline-flex;
  display: -webkit-inline-flex;

  .#{$prefix}-item {
    position: relative;
    text-align: center;
    overflow: hidden;

    .#{$prefix}-spacer {
      opacity: 0;
      visibility: visible;
    }

    &,
    & .#{$prefix}-scroll {
      transition-property: all;
      transition-duration: inherit;
      transition-delay: inherit;
      transition-timing-function: inherit;
    }

    .#{$prefix}-scroll {
      position: absolute;
      top: 0;
      left: 0;

      transform: translateY(0);
    }
  }
}
