.dr {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.dr .dr-spacer {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.dr .dr-spacer .dr-text {
  opacity: 0;
  visibility: visible;
}

.dr .dr-spacer,
.dr .dr-spacer .dr-scroll {
  transition-duration: inherit;
  transition-delay: inherit;
  transition-timing-function: inherit;
}

.dr .dr-spacer .dr-scroll {
  transition-property: all;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
}
