.dr {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.dr .dr-item {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.dr .dr-item .dr-spacer {
  opacity: 0;
  visibility: visible;
}

.dr .dr-item,
.dr .dr-item .dr-scroll {
  transition-property: all;
  transition-duration: inherit;
  transition-delay: inherit;
  transition-timing-function: inherit;
}

.dr .dr-item .dr-scroll {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
}
